;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :builds
 {:frontend 
  {:target :browser
   :modules {:main {:init-fn life.frontend.app/init}}}
  :test
   {:target    :browser-test
    :test-dir  "dev"
    :ns-regexp "-test$"
    :devtools   {:http-port 1337
                 :http-root "dev"}
    :output-to "dev/node-tests.js"}
   :ci
   {:target :karma
    :output-to "ci/ci.js"}}}
