;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :builds
 {:frontend 
  {:target :browser
   :modules {:main {:init-fn life.frontend.app/init}}}
  :test
   {:target    :node-test
    :main       life.frontend.test/init
    :output-to "out/node-tests.js"}}}
