;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :builds
 {:frontend 
  {:target :browser
   :modules {:main {:init-fn life.frontend.app/init}}}
  :test
   {:target    :browser-test
    :test-dir  "out"
    :ns-regexp "-test$"
    :devtools   {:http-port 1337
                 :http-root "out"}
    :output-to "out/node-tests.js"}}}
